{erl_opts, [debug_info]}.
{deps, [
  {opentelemetry_api, {git_subdir,
      "git://github.com/open-telemetry/opentelemetry-erlang", {branch, "master"}, "apps/opentelemetry_api"}},
  {opentelemetry, {git_subdir,
      "git://github.com/open-telemetry/opentelemetry-erlang", {branch, "master"}, "apps/opentelemetry"}},
        {opentelemetry_exporter, {git_subdir,
      "git://github.com/open-telemetry/opentelemetry-erlang", {branch, "master"}, "apps/opentelemetry_exporter"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [otel_example]}
]}.
